body{
    background-image: url("https://wallpaperaccess.com/full/1712651.jpg");
}
p{
    color: white;
}
.SneakerDiv{
     margin: 10% 3% 3% 3%;
     background-image: url("https://wallpaperaccess.com/full/1601024.jpg");
}
.row{
    padding: 5% 5% 5% 5%;
}
.mainText{
    color: white;
    font-weight: bolder;
}
.SubMainText{
    padding-bottom: 3%;
    color: white;
    font-weight: bolder;
}
img{
    background-blend-mode: lighten;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.button{
    color: white;
}

