
body{
    background-image: url("https://wallpaperaccess.com/full/1712651.jpg");
}
p{
    color: white;
}
.SneakerDiv{
     margin: 10% 3% 3% 3%;
     background-image: url("https://wallpaperaccess.com/full/1601024.jpg");
}
.row{
    padding: 5% 5% 5% 5%;
}
.mainText{
    color: white;
    font-weight: bolder;
}
.SubMainText{
    padding-bottom: 3%;
    color: white;
    font-weight: bolder;
}
.row{
    margin-top: 5%;
}
.image{
    margin: 5% 5% 5% 10%;
   
}
.button{
    color: white;
}
.justDOiT{
    width: 350px;
    height: 350px;
}
.SneakerDiv{
    text-align: center;
}
.cardImageView{
    width: 350px;
    height: 230px;
}
.card-body{
    text-align: center;
}
.btn-primary{
    color: #8E05C2;
}
.sneakerText{
    padding-top: 5%;
}
.TextView{
    padding: 3% 3% 3% 3%;
    color: white;
}
.SocialIcons{
    padding: 0% 1% 2% 1%;
    color: white;
}
